<div id="main-menu">
    <div class="menu-search">
        <input type="text" name="search" placeholder="Search..." [(ngModel)]="search.text" />
    </div>
    <div class="main-menu-container">
        <div class="menu-content" *ngIf="routes && routes.length">
            <div class="section" *ngFor="let route of routes | SearchFilter:search.text" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="[route.path]">
                    <h3>{{route.data[0]}}</h3>
                </a>
            </div>
        </div>
    </div>
</div>
