<div class="section bd-example">
    <ng-content></ng-content>
</div>
<div id="markup" class="section">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" *ngIf="html" [class.active]="active === 'html'" (click)="updateActive('html')"><a>Template</a></li>
        <li role="presentation" *ngIf="ts" [class.active]="active === 'ts'" (click)="updateActive('ts')"><a>Component</a></li>
        <li role="presentation" *ngIf="spec" [class.active]="active === 'spec'" (click)="updateActive('spec')"><a>Tests</a></li>
        <li role="presentation" *ngIf="style" [class.active]="active === 'style'" (click)="updateActive('style')"><a>Style</a></li>
    </ul>
    <div class="tab-content">
        <div *ngIf="html && active === 'html'">
            <pre class="prettyprint linenums lang-html">{{html}}</pre>
        </div>
        <div *ngIf="ts && active === 'ts'">
            <pre class="prettyprint linenums lang-js">{{ts}}</pre>
        </div>
        <div *ngIf="spec && active === 'spec'">
            <pre class="prettyprint linenums lang-js">{{spec}}</pre>
        </div>
        <div *ngIf="style && active === 'style'">
            <pre class="prettyprint linenums lang-css">{{style}}</pre>
        </div>
    </div>
</div>
